{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About Me</title>
</head>

<body>
    <header>
        <div class="top-nav container">
            <h1 class="top-logo">Aadarsha Dhakal</h1>
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="blog.html">Blog</a></li>
                    <li class="menu-item"><a href="{% url "contact" %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        <div class="container">
            <p>&copy; 2025 - Aadarsha Dhakal</p>
        </div>
    </footer>
</body>

</html>