{% extends "base.html" %}

{% block content %}

<!-- Blog Listing -->
<section>
    <div class="container blog_listing">
        <h1>Blogs</h1>
        <div class="blog_list">
            {% for item in blogs %}
            <div class="blog_item">
                <h2><a href="{% url "blog_detail" blog_id=item.pk %}">{{item.title}}</a></h2>
                <p>{{item.description}}</p>
            </div>
            {% endfor %}
            
           
        </div>
    </div>
</section>

{% endblock content %}