{% extends "base.html" %}

{% block content %}

<!-- Blog Listing -->
<section>
    <div class="container blog_listing">
        <h1>Blogs</h1>
        <div class="blog_list">
            <div class="blog_item">
                <h2><a href="blog_detail.html">Blog Title 1</a></h2>
                <p>Short description of the blog post goes here.</p>
            </div>
            <div class="blog_item">
                <h2><a href="blog_detail.html">Blog Title 2</a></h2>
                <p>Short description of the blog post goes here.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}